h2{
 background-color: green;
 text-align:center;
}
h1{
text-align:center;
}

img{
width:30px;
height: 30px;
}
.center{

text-align: center;
display: inline-block;


}
.outer-div{
margin: auto 0px;
text-align: center;
display: block;
}
button{
padding: 100px;
}