<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign Up</title>
    <div th:replace="~{common :: head}"></div>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/user.png" width="30" height="30" alt="">
    </a>
</nav>
<div class = "container">

    <h1>Welcome</h1>

    <h2>Login</h2>
    <form action="/perform_login" method="POST">
        <label>Username</label><input name="username"/>
        <label>Password</label><input type="password" name="password"/>
        <button type="submit" class="btn btn-success">submit</button>
        <!--<input type="submit"/>-->
    </form>
    <div class = "outer-div">
        <div class = "center">
    <button type="submit" class="btn btn-success"><a href="/">HOME</a></button>
        </div>
    </div>
</div>
</body>

</html>