<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign Up</title>
    <div th:replace="~{common :: head}"></div>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/user.png" width="30" height="30" alt="">
    </a>
</nav>
<div class = "container">
<h1>Welcome</h1>

<h2>Sign Up!</h2>
<form action="/signup" method="POST">
    <label>create password</label><input type="password" name="password"/>
    <label>create username</label><input name="username"/>

    <label>First Name</label><input  name="firstName"/>
    <label>Last Name</label><input  name="lastName"/>
    <label>Date of Birth</label><input type="date" name="dateofBirth"/>
    <label>About</label><input name="bio"/>
    <button type="submit" class="btn btn-success">submit</button>
    <!--<input type="submit"/>-->
</form>
    <button type="submit" class="btn btn-success"><a href="/">HOME</a></button>
</div>
</body>

</html>